@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: auto;
}
.section-header{
    padding: 20px 0 50px;
    text-align: center;
    margin-bottom: 40px;
}
.section-header h2{
    padding: 20px 0 15px;
    font-size: 35px;
    font-style: italic;
}
.section-header h2 span{
    color: #6B8E23;
}
.section-header p{
    font-size: 17px;
    font-family: monospace;
    margin: auto;
    color: #6B8E23;
}
/* header section area */
.header-area{
    width: 100%;
    height: 100vh;
    background: url(img/background.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    position: relative;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.nav-area .left-menu, .nav-area .right-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}
.nav-area .left-menu li a, .nav-area .right-menu li a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
}
.nav-area li a:hover{
    text-decoration: underline;
}
.nav-area .logo{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.header-area .header-text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 0;
    text-align: center;
}
.header-area .header-text h3{
    color: white;
    text-align: center;
    margin: 20px auto 10px;
    font-size: 30px;
}
.header-area .header-text h1{
    font-size: 46px;
    padding: 20px 0;
    color: white;

}
.header-area .header-text p{
    width: 80%;
    margin: auto;
    color: white;
    padding: 30px 0;
    font-size: 20px;
    line-height: 1.5;
}
.header-area .header-text #header-btn{
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    letter-spacing: 6px;
    display: block;
    margin: 50px auto;
    transition: 0.5s all ease-in-out;
    background-color: #6B8E23;
    border: 2px solid #6B8E23;
}
.header-area .header-text #header-btn:hover{
    background-color: transparent;
    border: 2px solid #415a0f;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #6B8E23;
}
/* animals section area */
.animals-section-area{
    padding: 0 0 50px;
    overflow: hidden;
}
.animals-section-area .animals-area{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0 0 40px;
}
.animals-area .animals-img-area .animals-img{
    width: 100%;
    height: 450px;
    box-shadow: 10px 20px 10px black;
    border-radius: 10px / 30px;
}
.animals-img-area, .animals-text-area{
    width: 50%;
    padding: 10px 30px;
    border-radius: 10px;
}
.animals-area .animals-text-area{
    text-align: justify;
}
.animals-area .animals-text-area .name{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0 0 20px;
    text-align: center;
    font-weight: bold;
}
.animals-area .animals-text-area p{
    line-height: 2;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}
.animals-area .animals-text-area .info-btn{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: black;
    color: white;
}
/* gallery section area */
.gallery-area{
    background-color: #dfdfdf;
    padding: 0 0 50px;
}
.gallery-area .gallery-section-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px 10px;
}
.gallery-area .gallery-card{
    width: 23%;
    border: 2px solid #6B8E23;
    position: relative;
}
.gallery-area .gallery-card .card-img{
    width: 100%;
    height: 400px;
}
.gallery-area .gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-area .gallery-card .name{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: #6B8E23;
    display: inline-block;
    padding: 20px 7px;
    color: white;
    writing-mode: sideways-rl;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    border-top-right-radius: 30px;
}
/* fun fact area */
.fact-section-area{
    padding: 0 0 50px;
}
.fact-section-container{
    display: flex;
    gap: 80px 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flip-card{
    position: relative;
    width: 25%;
    height: 500px;
    perspective: 1000px;
}
.flip-card-inner{
    box-shadow: 0 0 20px black;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s;
}
.flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 1s;
    backface-visibility: hidden;
}
.flip-card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flip-card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #6B8E23;
    backdrop-filter: blur(100px);
    text-align: center;
    color: white;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.flip-card-back h4{
    margin: 50% 0 30px;
    font-size: 18px;
    padding: 0 10px;
    text-align: center;
}
.flip-card-back p{
    font-size: 20px;
    padding: 0 20px;
    font-weight: bold;
}
.flip-card-back .source{
    padding:  20px;
    font-style: italic;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
/* journal section area */
.journal-section-area{
    padding: 0 0 50px;
    background-color: #dfdfdf;
}
.journal-area{
    display: flex;
    justify-content: space-evenly;
    gap: 10px 0;
    flex-wrap: wrap;
}
.popular-blog, .latest-blog{
    width: 50%;
    padding: 20px;
}
.popular-blog h1{
    font-size: 32px;
}
.popular-blog .pop-blog{
    width: 100%;
    margin-top: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.pop-blog img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 7px;
}
.pop-blog .blog-title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.latest-blog h1{
    text-align: center;
    padding: 20px 0 30px;
}
.last-blog{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.last-blog .blog-img{
    width: 50%;
}
.last-blog .blog-img img{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.last-blog .blog-text{
    width: 50%;
}
.last-blog .blog-text .blog-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.last-blog button{
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    background-color: #6B8E23;
    cursor: pointer;
    color: white;
    display: block;
    margin: 7px 0;
}
/* about and contact section area */
.about-section-area{
    background-color: #111;
    padding: 30px 0;
}
.last-section{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.about-area h1, .social-area h1, .contact-area h1{
    padding: 20px 0;
    color: white;
}
.last-section span{
    color: #6B8E23;
}
.last-section .about-area{
    width: 33%;
    padding: 20px 0;
}
.about-area p{
    color: white;
    font-size: 17px;
    padding: 15px 0;
}
.social-area{
    width: 33%;
    padding: 20px 0 0 50px;
}
.social-area ul{
    list-style-type: none;
}
.social-area li{
    display: block;
    padding: 15px 0;
}
.social-area li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.social-area li a:hover{
    text-decoration: underline;
    text-decoration-color: #6B8E23;
    text-decoration-thickness: 2px;
    text-underline-position: 10px;
}
.last-section .contact-area{
    width: 33%;
    padding: 20px 0;
}
.contact-area input{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}
.contact-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    font-size: 15px;
}
.contact-area input[type="submit"]{
    background-color: #6B8E23;
    color: white;
    font-size: 20px;
    font-variant: small-caps;
    border: none;
    cursor: pointer;
}